
/* Selector Universal */
*{
    margin: 0px;
    font-family: Circular,Helvetica,Arial,sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Selector por Etiqueta */

h1{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 9px;
}

p{
    margin-bottom: 10px;
}

li{
    color: green;
}

a{
    text-decoration: none;
}

.bold{
    font-weight: bold;
}